-- CreateEnum
CREATE TYPE "TourStatus" AS ENUM ('PREPARATION', 'PRET_A_PARTIR', 'EN_TOURNEE', 'EN_ATTENTE_DECHARGEMENT', 'EN_ATTENTE_HYGIENE', 'TERMINEE');

-- CreateEnum
CREATE TYPE "ConflictStatus" AS ENUM ('EN_ATTENTE', 'PAYEE', 'ANNULE', 'RESOLUE');

-- CreateEnum
CREATE TYPE "MouvementType" AS ENUM ('INITIALISATION', 'DEPART_TOURNEE', 'RETOUR_TOURNEE', 'SURPLUS', 'RETOUR_CONFLIT', 'PERTE_CONFIRMEE', 'AJUSTEMENT', 'ACHAT');

-- CreateEnum
CREATE TYPE "ResolutionType" AS ENUM ('RETOUR_CAISSES', 'PAIEMENT');

-- CreateEnum
CREATE TYPE "ModePaiement" AS ENUM ('ESPECES', 'RETENUE_SALAIRE');

-- CreateTable
CREATE TABLE "user" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT NOT NULL,
    "emailVerified" BOOLEAN,
    "image" TEXT,
    "password_hash" TEXT,
    "role" TEXT NOT NULL DEFAULT 'AGENT_CONTROLE',
    "banned" BOOLEAN,
    "banReason" TEXT,
    "banExpires" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "expiresAt" TIMESTAMP(3),
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "verification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "verification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Driver" (
    "id" TEXT NOT NULL,
    "nom_complet" TEXT NOT NULL,
    "matricule_par_defaut" TEXT,
    "marque_vehicule" TEXT,
    "poids_tare_vehicule" DOUBLE PRECISION,
    "tolerance_caisses_mensuelle" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Driver_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Secteur" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,

    CONSTRAINT "Secteur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CaisseConfig" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "valeur_tnd" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "CaisseConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Produit" (
    "id" TEXT NOT NULL,
    "code_article" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Produit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tour" (
    "id" TEXT NOT NULL,
    "driverId" TEXT,
    "secteurId" TEXT,
    "agentControleId" TEXT,
    "agentHygieneId" TEXT,
    "securiteIdSortie" TEXT,
    "securiteIdEntree" TEXT,
    "matricule_vehicule" TEXT NOT NULL,
    "nbre_caisses_depart" INTEGER NOT NULL,
    "nbre_caisses_retour" INTEGER,
    "poids_net_produits_depart" DOUBLE PRECISION NOT NULL,
    "poids_brut_securite_sortie" DOUBLE PRECISION,
    "poids_brut_securite_retour" DOUBLE PRECISION,
    "poids_tare_securite" DOUBLE PRECISION,
    "poids_net_total_calcule" DOUBLE PRECISION,
    "photo_preuve_depart_url" TEXT,
    "photo_preuve_retour_url" TEXT,
    "photos_hygiene_urls" TEXT[],
    "notes_hygiene" TEXT,
    "statut_hygiene" TEXT,
    "matricule_verifie_sortie" BOOLEAN NOT NULL DEFAULT false,
    "matricule_verifie_retour" BOOLEAN NOT NULL DEFAULT false,
    "date_sortie_securite" TIMESTAMP(3),
    "date_entree_securite" TIMESTAMP(3),
    "date_sortie_finale" TIMESTAMP(3),
    "statut" "TourStatus" NOT NULL DEFAULT 'PREPARATION',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tour_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LigneRetourProduit" (
    "id" TEXT NOT NULL,
    "tourId" TEXT NOT NULL,
    "produitId" TEXT NOT NULL,
    "nbre_caisses" INTEGER NOT NULL,
    "poids_brut_retour" DOUBLE PRECISION NOT NULL,
    "poids_net_retour" DOUBLE PRECISION NOT NULL,
    "note_etat" TEXT,

    CONSTRAINT "LigneRetourProduit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Conflict" (
    "id" TEXT NOT NULL,
    "tourId" TEXT NOT NULL,
    "quantite_perdue" INTEGER NOT NULL,
    "montant_dette_tnd" DOUBLE PRECISION NOT NULL,
    "caisses_retournees" INTEGER NOT NULL DEFAULT 0,
    "montant_paye" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "statut" "ConflictStatus" NOT NULL DEFAULT 'EN_ATTENTE',
    "notes_direction" TEXT,
    "direction_id_approbation" TEXT,
    "date_approbation_direction" TIMESTAMP(3),
    "depasse_tolerance" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Conflict_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "resolution_conflict" (
    "id" TEXT NOT NULL,
    "conflictId" TEXT NOT NULL,
    "type" "ResolutionType" NOT NULL,
    "quantite" INTEGER,
    "montant" DOUBLE PRECISION,
    "modePaiement" "ModePaiement",
    "userId" TEXT NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "resolution_conflict_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stock_caisse" (
    "id" TEXT NOT NULL DEFAULT 'stock-principal',
    "stock_initial" INTEGER NOT NULL DEFAULT 0,
    "stock_actuel" INTEGER NOT NULL DEFAULT 0,
    "seuil_alerte_pct" INTEGER NOT NULL DEFAULT 10,
    "dernier_stock_ref" INTEGER NOT NULL DEFAULT 0,
    "initialise" BOOLEAN NOT NULL DEFAULT false,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stock_caisse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mouvement_caisse" (
    "id" TEXT NOT NULL,
    "type" "MouvementType" NOT NULL,
    "quantite" INTEGER NOT NULL,
    "solde_apres" INTEGER NOT NULL,
    "tourId" TEXT,
    "conflictId" TEXT,
    "userId" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mouvement_caisse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_config" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "app_config_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wifi_config" (
    "id" TEXT NOT NULL,
    "ssid" TEXT NOT NULL,
    "bssid" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "wifi_config_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "targetId" TEXT,
    "details_avant" TEXT,
    "details_apres" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "session_token_key" ON "session"("token");

-- CreateIndex
CREATE UNIQUE INDEX "Secteur_nom_key" ON "Secteur"("nom");

-- CreateIndex
CREATE UNIQUE INDEX "Produit_code_article_key" ON "Produit"("code_article");

-- CreateIndex
CREATE UNIQUE INDEX "app_config_key_key" ON "app_config"("key");

-- CreateIndex
CREATE UNIQUE INDEX "wifi_config_ssid_bssid_key" ON "wifi_config"("ssid", "bssid");

-- AddForeignKey
ALTER TABLE "session" ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account" ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tour" ADD CONSTRAINT "Tour_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tour" ADD CONSTRAINT "Tour_secteurId_fkey" FOREIGN KEY ("secteurId") REFERENCES "Secteur"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tour" ADD CONSTRAINT "Tour_agentControleId_fkey" FOREIGN KEY ("agentControleId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tour" ADD CONSTRAINT "Tour_agentHygieneId_fkey" FOREIGN KEY ("agentHygieneId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tour" ADD CONSTRAINT "Tour_securiteIdSortie_fkey" FOREIGN KEY ("securiteIdSortie") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tour" ADD CONSTRAINT "Tour_securiteIdEntree_fkey" FOREIGN KEY ("securiteIdEntree") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LigneRetourProduit" ADD CONSTRAINT "LigneRetourProduit_tourId_fkey" FOREIGN KEY ("tourId") REFERENCES "Tour"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LigneRetourProduit" ADD CONSTRAINT "LigneRetourProduit_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "Produit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Conflict" ADD CONSTRAINT "Conflict_tourId_fkey" FOREIGN KEY ("tourId") REFERENCES "Tour"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "resolution_conflict" ADD CONSTRAINT "resolution_conflict_conflictId_fkey" FOREIGN KEY ("conflictId") REFERENCES "Conflict"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "resolution_conflict" ADD CONSTRAINT "resolution_conflict_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvement_caisse" ADD CONSTRAINT "mouvement_caisse_tourId_fkey" FOREIGN KEY ("tourId") REFERENCES "Tour"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvement_caisse" ADD CONSTRAINT "mouvement_caisse_conflictId_fkey" FOREIGN KEY ("conflictId") REFERENCES "Conflict"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvement_caisse" ADD CONSTRAINT "mouvement_caisse_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

